//main slider
section(class="main-slider")
    div(class="main-slider-carousel owl-carousel owl-theme")
        div(class="slider-item")
            img(class="img-fluid" data-src="images/slider/slider-1.png" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") شركة الحياة
                            br
                            | لأنظمة معالجة المياه
                        p إحدى الشركات الرائدة في مجال معالجة المياه وتنقيتها.
                        p متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية.
                        p نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها.
                        div(class="item-btn")
                            a(href="#services" class="btn") تعرف على الخدمات
        div(class="slider-item")
            img(class="img-fluid" data-src="images/slider/slider-2.png" alt="")
            div(class="item-details")
                div(class="container")
                    div(class="item-text")
                        h1(class="title") شركة الحياة
                            br
                            | لأنظمة معالجة المياه
                        p لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب.
                        p مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها.
                        p مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="item-btn")
                            a(href="#services" class="btn") تعرف على الخدمات
//main slider

//about us
section(class="about" id="about")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="about-image")
                        img(class="img-fluid" data-src="images/about/about.jpg" alt="")
                div(class="col-lg-6")
                    div(class="main-title")
                        h2 عن الحياة إيجيبت
                        span(class="bottom-title") الحياة إيجيبت إحدى الشركات الرائدة في مجال معالجة المياه وتنقيتها.
                    div(class="about-text")
                        ul 
                            li متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية.
                            li نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها.
                            li لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب.
                            li مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها.
                            li ننفرد بخدمة عملاء مميزة علميًا ومهنيًا.
                            li مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                    div(class="about-btn")
                        a(href="#services" class="btn") تعرف على الخدمات
//about us

//video
section(class="video" style="background-image:url('images/bgs/bg-1.jpeg')")
    div(class="container")
        div(class="content")
            div(class="vid-icon")
                a(href="https://youtu.be/JDMVVARJnoM" data-fancybox="") 
                    i(class="bi bi-play-fill")
            div(class="vid-text")
                p رغبة في توفير المياه وتلبية احتياجات العملاء فإننا نقدم خدماتنا لمختلف القطاعات.
                h2 قطاعات الأعمال
//video

//about tabs
section(class="about-tabs" id="works")
    div(class="container")
        div(class="content")
            ul(class="nav nav-pills", role="tablist")
                li(class="nav-item", role="presentation")
                    button(class="nav-link active", id="about-1-tab" data-bs-toggle="pill", data-bs-target="#about-1", type="button", role="tab", aria-controls="about-1", aria-selected="true") قطاع الزراعة
                li(class="nav-item", role="presentation")
                    button(class="nav-link", id="about-2-tab" data-bs-toggle="pill", data-bs-target="#about-2", type="button", role="tab", aria-controls="about-2", aria-selected="false") قطاع الطب
                li(class="nav-item", role="presentation")
                    button(class="nav-link", id="about-3-tab" data-bs-toggle="pill", data-bs-target="#about-3", type="button", role="tab", aria-controls="about-3", aria-selected="false") قطاع الصناعة
                li(class="nav-item", role="presentation")
                    button(class="nav-link", id="about-4-tab" data-bs-toggle="pill", data-bs-target="#about-4", type="button", role="tab", aria-controls="about-4", aria-selected="false") قطاع السياحة
            div(class="tab-content")
                div(class="tab-pane fade show active", id="about-1" role="tabpanel", aria-labelledby="about-1-tab") 
                    div(class="row")
                        div(class="col-lg-7")
                            div(class="title")
                                h3 عن الحياة إيجيبت
                            div(class="text")
                                p متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها ننفرد بخدمة عملاء مميزة علميًا ومهنيًا مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="col-lg-5")
                            div(class="image")
                                img(class="img-fluid" data-src="images/works/01.jpeg" alt="")
                div(class="tab-pane fade", id="about-2" role="tabpanel", aria-labelledby="about-2-tab") 
                    div(class="row")
                        div(class="col-lg-7")
                            div(class="title")
                                h3 عن الحياة إيجيبت
                            div(class="text")
                                p متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها ننفرد بخدمة عملاء مميزة علميًا ومهنيًا مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="col-lg-5")
                            div(class="image")
                                img(class="img-fluid" data-src="images/works/01.jpeg" alt="")
                div(class="tab-pane fade", id="about-3" role="tabpanel", aria-labelledby="about-3-tab") 
                    div(class="row")
                        div(class="col-lg-7")
                            div(class="title")
                                h3 عن الحياة إيجيبت
                            div(class="text")
                                p متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها ننفرد بخدمة عملاء مميزة علميًا ومهنيًا مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="col-lg-5")
                            div(class="image")
                                img(class="img-fluid" data-src="images/works/01.jpeg" alt="")
                div(class="tab-pane fade", id="about-4" role="tabpanel", aria-labelledby="about-4-tab") 
                    div(class="row")
                        div(class="col-lg-7")
                            div(class="title")
                                h3 عن الحياة إيجيبت
                            div(class="text")
                                p متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها ننفرد بخدمة عملاء مميزة علميًا ومهنيًا مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="col-lg-5")
                            div(class="image")
                                img(class="img-fluid" data-src="images/works/01.jpeg" alt="")
//about tabs

//cta
section(class="cta")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-6")
                    div(class="image")
                        img(data-src="images/cta.png" class="img-fluid" alt="")
                div(class="col-lg-6")
                    div(class="text")
                        div(class="main-title")
                            h2 الحياة إيجيبت
                            p متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها
                        ul 
                            li متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية.
                            li نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها.
                            li لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب.
                            li مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها.
                            li ننفرد بخدمة عملاء مميزة علميًا ومهنيًا.
                            li مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
                        div(class="btns")
                            a(href="products.html", class="btn", rel="nofollow") اطلب الآن
//cta

//services
section(class="services" id="services")
    div(class="container")
        div(class="main-title")
            h2 خدمات الحياة إيجيبت
            p نحن نهدف إلى تقديم الحل الأمثل لكافة مشاكل المياه عن طريق المنتجات والخدمات الأتية:
        div(class="content")
            div(class="row")
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/services/01.jpeg" alt="")
                        div(class="details")
                            h3(class="title") محطات التحلية
                            p تصميم وتنفيذ محطات تنقية وتحلية المياه لكافة الأستخدامات.
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/services/01.jpeg" alt="")
                        div(class="details")
                            h3(class="title") المعدات المختلفة
                            p أجهزة تنقية وتحلية المياه المنزلية والصناعية.
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/services/01.jpeg" alt="")
                        div(class="details")
                            h3(class="title") محطات التقطير
                            p أجهزة ومحطات تقطير المياه للمعامل والمصانع.
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/services/01.jpeg" alt="")
                        div(class="details")
                            h3(class="title") محطات المعالجة
                            p محطات معالجة المياه لكافة التخصصات الصناعية.
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/services/01.jpeg" alt="")
                        div(class="details")
                            h3(class="title") غرف المضخات
                            p تصميم وتنفيذ غرف المضخات ولوحات التحكم وشبكات المياه الخاصة بالمشروعات مثل مياه الشرب ومياه الصرف والحريق والغلايات والبخار.
                div(class="col-lg-4 col-md-6 box")
                    div(class="service-box")
                        div(class="image")
                            img(class="img-fluid" data-src="images/services/01.jpeg" alt="")
                        div(class="details")
                            h3(class="title") صيانة المحطات
                            p صيانة محطات المياه وتوريد قطع الغيار والكيماويات والفلاتر وأجهزة القياس
//services

//contact bg
section(class="contact-bg" style="background-image:url('images/bgs/bg-2.jpg')")
    div(class="container")
        div(class="content")
            div(class="icon")
                a(href="tel:01050071667") 
                    i(class="bi bi-telephone-outbound")
            div(class="text")
                p خدمة العملاء في حالات الطوارئ 24 ساعة 7 أيام في الأسبوع
                h2 تواصل معنا
//contact bg

//contact us
//- section(class="contact")
    div(class="container")
        div(class="content")
            div(class="row")
                div(class="col-lg-4")
                    div(class="image")
                        img(src="images/contact.jpg", class="img-fluid" alt="")
                div(class="col-lg-8")
                    div(class="contact-form")
                        form(class="needs-validation" novalidate)
                            div(class="row")
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        input(type="text" class="form-control" placeholder="الاسم" required)
                                div(class="col-lg-6")
                                    div(class="form-group position-relative")
                                        input(type="email" class="form-control" placeholder="الإيميل" required)
                                div(class="col-lg-12")
                                    div(class="form-group position-relative")
                                        input(type="number" class="form-control" placeholder="الهاتف" required)
                                div(class="col-lg-12")
                                    div(class="form-group")
                                        textarea(class="form-control" rows="6" placeholder="الرسالة")
                            div(class="contact-btn")
                                button(class="btn" type="submit") إرسال الآن
//contact us

//clients
section(class="clients" id="clients")
    div(class="container")
        div(class="content")
            div(class="clients-carousel owl-carousel owl-theme")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/01.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/02.png" alt="")
                div(class="item")
                    img(class="img-fluid" data-src="images/clients/03.png" alt="")
//clients

//map
section(class="map")
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3438.9239255557986!2d31.19209198487489!3d30.46659278173072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ac8ad21e69ffb0!2zMzDCsDI3JzU5LjciTiAzMcKwMTEnMjMuNyJF!5e0!3m2!1sar!2seg!4v1644064360287!5m2!1sar!2seg", width="100%", height="450", style="border:0;", allowfullscreen="", loading="lazy")
//map

//contact info
section(class="contact-info" id="contact")
    div(class="container")
        div(class="content")
            div(class="details")
                div(class="row")
                    div(class="col-md-4")
                        div(class="info-box")
                            div(class="icon")
                                i(class="bi bi-pin-map")
                            div(class="info")
                                h4 العنوان
                                p حسام الدين، قسم بنها، بنها، القليوبية
                    div(class="col-md-4")
                        div(class="info-box")
                            div(class="icon")
                                i(class="bi bi-telephone")
                            div(class="info")
                                h4 الهاتف
                                p 
                                    a(href="tel:01050071667" dir="ltr" style="color:#ff4917;font-size:24px;font-wight: 800") 01050071667
                    div(class="col-md-4")
                        div(class="info-box")
                            div(class="icon")
                                i(class="bi bi-envelope") 
                            div(class="info")
                                h4 الإيميل
                                p
                                    a(href="mailto:support@website.com") support@website.com
            div(class="text")
                div(class="info-logo")
                    a(href="index.html") 
                        img(data-src="images/logo-white.png", class="img-fluid" alt="")
                p متخصصون في تكنولوجيا معالجة المياه بأحدث الأساليب العلمية نوفر لكم أفضل الحلول لمعالجة المياه و ما عليكم إلا اختيار الأنسب من بينها لدينا أحدث الطرق والأساليب لمعالجة المياه و تنقيتها من البكتريا و الشوائب مع الحياة.. لا داعي للقلق من تغير لون أو رائحة أو طعم المياه فمهمتنا أن نعيد للمياه نقاءها ننفرد بخدمة عملاء مميزة علميًا ومهنيًا مع الحياة ستصل لكل ما هو حديث ومتطور في عالم المياه و تنقيتها.
            div(class="social-links")
                div(class="links")
                    a(href="https://www.facebook.com/alhayahegypt1", class="bi bi-facebook")
                    a(href="https://www.youtube.com/channel/UCokE3DJMeS5kHRyPdQOJu_w", class="bi bi-youtube")
//contact info